Host ijru-nks
    HostName 10.51.0.14
    User prithviraj
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes
    ProxyJump vpsjump
    ControlMaster no
    ControlPath none
    ServerAliveInterval 10
    ServerAliveCountMax 6
    StrictHostKeyChecking accept-new
    ConnectTimeout 30
